{% extends 'events_management/base.html' %}

{% block content %}

    <h1>Events</h1>
    <br>
    {% for event in event_list %}

            <div class="card">
                <div class="card-header">
                    <strong>{{ event.title }}</strong>
                </div>
                <div class="card-body">
                    <h5 class="card-title"><strong>Venue:</strong> {{ event.venue.name }}</h5>
                    <ul><li class="card-text"><strong>Description:</strong> {{ event.description }}</li>
                    <li><strong>Event Type:</strong> {{ event.event_type }}</li>
                    <li><strong>Date:</strong> {{ event.date }}</li>
                        <li><strong>Time:</strong> {{ event.start_time }} - {{ event.end_time }}</li>
                    {% if event.venue.web %}
                    <li><strong>Website:</strong> <a href="{{ event.venue.web }}">{{ event.venue.web }}</a></li>
                    {% else %}
                    <li><strong>Website:</strong> No website
                    {% endif %}
                    <li><strong>Organizer:</strong> {{ event.organizer }}<br></li>
                    {% if event.apply_leave %}
                    {% endif %}
                    </ul>
                </div>
                <br>
                <div class="card-footer text-body-secondary">
                    <td Update align="right"><a href="{% url 'update-event' event.id %}" class="btn btn-outline-secondary btn-sm">Update Event</a></td>
                  </div>

            </div>
            <br><br>
    {% endfor %}
    <br>
{% endblock %}
