{% extends 'events_management/base.html' %}

{% block title %}Update Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Update Profile for {{ staff.user.first_name }} {{ staff.user.last_name }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">User ID: {{ staff.user.id }}</p>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        <a href="{% url 'staff_management_app:staff_profile' staff.id %}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
