{% extends 'events_management/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <center>
                    <div class="card-header text-center">
                        <h2>Login</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        Not yet registered? <a href="{% url 'registration_app:registration' %}">Register</a>
                    </center>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
