{% extends 'events_management/base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Registration</h1>
        <br>
        <div class="card">
            <div class="card-header">
                <strong>User Registration Options</strong>
            </div>
            <div class="card-body">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User Type</th>
                            <th scope="col">Registration Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Admin</td>
                            <td><a href="{% url 'admin-registration' %}">Register as an Admin</a></td>
                        </tr>
                        <tr>
                            <td>Student</td>
                            <td><a href="{% url 'student-registration' %}">Register as a Student</a></td>
                        </tr>
                        <tr>
                            <td>Staff</td>
                            <td><a href="{% url 'staff-registration' %}">Register as a Staff</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
