{% extends 'events_management/base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-4">Submit Assignment: {{ assignment.title }}</h1>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Submit PDF</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
