{% extends 'events_management/base.html' %}
{% load static %}
{% block content %}
    <header class="cd__intro">
        <h1>Student Calendar</h1>
    </header>

    <main class="cd__main">
        <div id="calendar"></div>

        <div class="modal fade edit-form" id="event-form" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header border-bottom-0">
                        <h5 class="modal-title" id="modal-title">Add Event</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="add-event-form">
                        <div class="modal-body">
                            <div class="alert alert-danger event-error" role="alert" style="display: none;">
                                End date should be greater than start date.
                            </div>
                            <div class="form-group">
                                <label for="event-title">Event name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="event-title-input" placeholder="Enter event name" required>
                            </div>
                            <div class="form-group">
                                <label for="start-date">Start date <span class="text-danger">*</span></label>
                                <input type="date" class="form-control" id="start-date-input" placeholder="start-date" required>
                            </div>
                            <div class="form-group">
                                <label for="end-date">End date <small class="text-muted">Optional</small></label>
                                <input type="date" class="form-control" id="end-date-input" placeholder="end-date">
                            </div>
                            <div class="form-group">
                                <label for="event-color">Color</label>
                                <input type="color" class="form-control" id="event-color-input" value="#3788d8">
                            </div>
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success" id="submit-event-button">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

    {% block extra_css %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'student_calendar_css/student_calendar.css' %}">
    {% endblock %}

    {% block extra_js %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'student_calendar_css/student_calendar.js' %}"></script>
    {% endblock %}
