<!-- school_management_system/student_management_app/templates/student_management_app/student_profile.html -->
{% extends 'events_management/base.html' %}

{% block content %}
    <h1>Welcome, {{ student.user.first_name }} {{ student.user.last_name }}</h1>
    <p>Email: {{ student.user.email }}</p>
    <p>Phone: {{ student.phone }}</p>
    <p>Date of Birth: {{ student.date_of_birth }}</p>
    <p>Gender: {{ student.get_gender_display }}</p>
    <img src="{{ student.profile_picture.url }}" alt="Profile Picture">
    <p><a href="{% url 'student_management:logout' %}">Logout</a></p>
    <p><a href="{% url 'student_management:update_student_profile' student.id %}">Edit Profile</a></p>
    <p><a href="{% url 'student_management:delete_student_profile' student.id %}">Delete Profile</a></p>
{% endblock %}
