<!-- assignment_list.html -->
{% extends 'events_management/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Assignment List</h2>
        <ul class="list-group">
            {% for assignment in assignments %}
                <li class="list-group-item">
                    <a href="{% url 'student_management_app:view_assignment' assignment.id %}" class="text-primary">{{ assignment.title }}</a>
                    <p>Course: {{ assignment.course.name }}</p>
                    <p>Due Date: {{ assignment.due_date }}</p>
                    <!-- Add more details as needed -->
                </li>
            {% empty %}
                <li class="list-group-item">No assignments available.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
