<!-- student_management_system/student_management_app/templates/student_management_app/update_student_profile.html -->
{% extends 'events_management/base.html' %}

{% block content %}
    <h1>Update Profile for {{ student.user.first_name }} {{ student.user.last_name }}</h1>
    <p>User ID: {{ student.user.id }}</p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'student_management_app:student_profile' student.id %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
